#include "resource.h"

IDR_LEVEL000    RCDATA  MOVEABLE PURE   "data\\LEVEL000.DAT"
IDR_LEVEL001    RCDATA  MOVEABLE PURE   "data\\LEVEL001.DAT"
IDR_LEVEL002    RCDATA  MOVEABLE PURE   "data\\LEVEL002.DAT"
IDR_LEVEL003    RCDATA  MOVEABLE PURE   "data\\LEVEL003.DAT"
IDR_LEVEL004    RCDATA  MOVEABLE PURE   "data\\LEVEL004.DAT"
IDR_LEVEL005    RCDATA  MOVEABLE PURE   "data\\LEVEL005.DAT"
IDR_LEVEL006    RCDATA  MOVEABLE PURE   "data\\LEVEL006.DAT"
IDR_LEVEL007    RCDATA  MOVEABLE PURE   "data\\LEVEL007.DAT"
IDR_LEVEL008    RCDATA  MOVEABLE PURE   "data\\LEVEL008.DAT"
IDR_LEVEL009    RCDATA  MOVEABLE PURE   "data\\LEVEL009.DAT"
IDR_GROUND0O    RCDATA  MOVEABLE PURE   "data\\GROUND0O.DAT"
IDR_GROUND1O    RCDATA  MOVEABLE PURE   "data\\GROUND1O.DAT"
IDR_GROUND2O    RCDATA  MOVEABLE PURE   "data\\GROUND2O.DAT"
IDR_GROUND3O    RCDATA  MOVEABLE PURE   "data\\GROUND3O.DAT"
IDR_GROUND4O    RCDATA  MOVEABLE PURE   "data\\GROUND4O.DAT"
IDR_VGAGR0     RCDATA  MOVEABLE PURE   "data\\VGAGR0.DAT"
IDR_VGAGR1     RCDATA  MOVEABLE PURE   "data\\VGAGR1.DAT"
IDR_VGAGR2     RCDATA  MOVEABLE PURE   "data\\VGAGR2.DAT"
IDR_VGAGR3     RCDATA  MOVEABLE PURE   "data\\VGAGR3.DAT"
IDR_VGAGR4     RCDATA  MOVEABLE PURE   "data\\VGAGR4.DAT"
IDR_VGASPEC0   RCDATA  MOVEABLE PURE   "data\\VGASPEC0.DAT"
IDR_VGASPEC1   RCDATA  MOVEABLE PURE   "data\\VGASPEC1.DAT"
IDR_VGASPEC2   RCDATA  MOVEABLE PURE   "data\\VGASPEC2.DAT"
IDR_VGASPEC3   RCDATA  MOVEABLE PURE   "data\\VGASPEC3.DAT"
IDR_MAIN       RCDATA  MOVEABLE PURE   "data\\MAIN.DAT"
IDR_ODDTABLE   RCDATA  MOVEABLE PURE   "data\\ODDTABLE.DAT"
IDR_EXPLODE    RCDATA  MOVEABLE PURE   "data\\EXPLODE.DAT"

